#!/bin/sh -e

. /usr/share/debconf/confmodule

db_version 2.0
db_capb backup

db_title DECnet node configuration
NAMEOK="false"

while [ -n "$NAMEOK" ]
do
  db_input high dnet-common/nodename || true
  db_go
  db_get dnet-common/nodename
  NAME=$RET
  if [ -z "`echo -n $NAME | sed -n 's/......//p'`" ] 
  then
    NAMEOK=""
  else
    db_fset dnet-common/nodename isdefault true
  fi
done


ADDROK="false"
while [ -n "$ADDROK" ]
do
  db_input high dnet-common/nodeaddr || true
  db_go
  db_get dnet-common/nodeaddr
  ADDR=`echo $RET | sed -n 's/\([0-9]*\.[0-9]*\)/\1/p'`
  AREA=`echo $ADDR | sed -n 's/\([0-9]*\)\.\([0-9]*\)/\1/p'`
  NODE=`echo $ADDR | sed -n 's/\([0-9]*\)\.\([0-9]*\)/\2/p'`

  [ -z "$AREA" ] && AREA=0
  [ -z "$NODE" ] && NODE=0

  if [ "$AREA" -le 1023 -a  "$AREA" -ge 1 -a "$NODE" -le 63 -a "$NODE" -ge 1 ]
  then
    ADDROK=""
  else
    db_fset dnet-common/nodeaddr isdefault true
  fi
done

# Display the dire warning about MAC addresses.
db_input high dnet-common/warning || true
db_go

db_stop
